
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {# Minified version of all scripts in /libraries dir #}
  <script src="../../js/libraries.min.js"></script>
  {# Minified version of all scripts in /custom dir #}
  <script src="../../js/custom.min.js"></script>

  </body>
</html>
