{# @copyright Copyright (c) 2022 Palantir.net #}

{% block siteHeader %}
  <a class="element-focusable" href="#main">Skip to Main</a>
{% endblock %}

<main id="main">
{% block pageContent %}
  <div class="sg-placeholder">Body Content</div>
{% endblock %}
</main>

{% block siteFooter %}
{% endblock %}
