{# @copyright Copyright (c) 2021 Palantir.net #}

<div class="container l-grid l-grid--1up">
  <div class="l-grid-item">
    {% block oneUp %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>
</div>
