{# @copyright Copyright (c) 2021 Palantir.net #}

<div class="container l-grid l-grid--3up">
  <div class="l-grid-item">
    {% block threeUpFirst %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>

  <div class="l-grid-item">
    {% block threeUpSecond %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>

  <div class="l-grid-item">
    {% block threeUpThird %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>
</div>
