{# @copyright Copyright (c) 2021 Palantir.net #}

<div class="container l-grid l-grid--4up">
  <div class="l-grid-item">
    {% block fourUpFirst %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>

  <div class="l-grid-item">
    {% block fourUpSecond %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>

  <div class="l-grid-item">
    {% block fourUpThird %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>

  <div class="l-grid-item">
    {% block fourUpFourth %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>
</div>
