{# @copyright Copyright (c) 2021 Palantir.net #}

<div class="container l-grid l-grid--minor-major">
  <div class="l-grid-item">
    {% block minor %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>

  <div class="l-grid-item">
    {% block major %}
    <div class="sg-placeholder">l-grid-item</div>
    {% endblock %}
  </div>
</div>
